
.Title{
    text-align: right;
    color: grey;
}
#Entete{
    background-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    
}
.soustitre{
    margin-top: 10px;
    color: grey;
}
.topnav{
    float: right;
    margin-right: 3%;
    color: grey;
    height: 10%;
}
.MapMagasins{
    margin-top: 500px;
    border: 5px solid black;
    position: fixed;
}
.ImageViande{
    width: 100%;
    position: absolute;
}
